/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 100px;
}

/* Headings */
h1, h2, h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
/* Header */
header {
  text-align: center;
 
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}


/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}


.myFlex {
  display: flex;
}


.header {
  display:flex;
  justify-content: center;
}

.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ul {
    text-align: left;
  }

.p {
    text-align: left;
  }


.grid-container {
  display: grid;
  row-gap: 20px;
  column-gap: 15px;;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding:10px;
  font-size: 14px;
  text-align: center;
}